.MainLayout {
	max-width: 840px;
  margin: 0 auto;
}

.MainLayout blockquote {
  margin: 0 0 0 0.3em;
  padding: 0 0 0 0.6em;
  border-left: 0.3em solid var(--puregrey);
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
}

.Comment__messages {
	padding: 20px 0 0 9%;

	@media all and (max-width: 574px) {
		padding: 0;
	}
}

.MainLayout__header__inner__heading-totals,
.MainLayout__header__inner__heading {
	display: flex;
	align-items: center;
}

.MainLayout__header--count {
	width: 60px;
  height: 60px;
  display: flex;
  background: var(--puregrey);
	border-radius: 100%;
	margin-right: 10px;
}

.MainLayout__header--count {
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
}

.MainLayout__header__inner__heading {
	position: relative;
}

.MainLayout__header__inner__heading-totals {
	background: var(--white);
  position: relative;
  z-index: 9;
  width: 200px;
}

.MainLayout__header__inner__heading h3 {
	margin: 0;
	font-weight: bold;
	font-size: 22px;
	color: var(--puregrey);
}

.MainLayout__header__inner__heading--dash {
	display: block;
	position: absolute;
	width: 100%;
	border-top: 3px solid var(--puregrey);
}
