.CommentContainer {
  display: none; }

.CommentContainer--show {
  display: flex; }

.CommentContainer {
  padding: 22px 0; }

.CommentContainer__profile-image {
  width: 60px;
  height: 60px;
  display: flex;
  background: var(--puregrey);
  border-radius: 100%;
  margin-right: 10px; }

.CommentContainer__profile-image img {
  border-radius: 100%;
  object-fit: cover;
  width: 60px;
  height: 60px; }

.CommentContainer__span {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f8fb;
  width: 100%;
  border-radius: 4px; }
  .CommentContainer__span form {
    width: 100%;
    padding: 10px; }

.CommentContainer__span input {
  width: 100%;
  border-radius: 26px;
  border: none;
  box-sizing: border-box;
  outline: 0;
  padding: 12px 12px; }
